*.sqlite3

Gemfile.lock

/.bundle
/coverage
*.log
/tmp/*

.DS_Store
.idea
*.swp
*.swo
tags
.tags
dump.rdb

/.rspec
/.ruby-version
/.ruby-gemset
/.rvmrc
/zeus.json
/.watchr*
/.pryrc
/.bundle
/.env.local
/.yardoc
pkg/*
